extends ../../layout

block append vars
  - title = '生い立ち'

block main
  main(class='page-person-profile')
    h1
      ruby
        | 岩淵
        rp (
        rt いわぶち
        rp )
        | 勇樹
        rp (
        rt ゆうき
        rp )
      | (IWABUCHI Yu(u)ki)

    section
      h1 生い立ち
      ul
        li 1984年9月13日午前6時18分 福井県大野市生まれ
        li 1991年 大野市有終西小学校 入学
          ul
            li 調理クラブ
            li 相撲クラブ
            li 漫画クラブ他
        li 1997年 大野市開成中学校 入学
          ul
            li 美術部
        li 2000年 福井県立大野高等学校 入学
          ul
            li パソコン部
            li 放送部(2001年～)
            li 合唱部(2001年～)
        li 2003年 金沢大学 工学部 情報システム工学科 入学
          ul
            li アカペラサークル"MeloMelo"
            li 美術部
            li ICT教材作成支援室（金沢大学FD・ICT教育推進室）(2005年～)
        li 2007年 金沢大学大学院 自然科学研究科 電子情報工学専攻 博士前期課程 入学
        li 2009年 金沢大学大学院 自然科学研究科 電子情報科学専攻 博士後期課程 入学
        li
          | 2012年
          a(href='http://www.kayac.com/', target='_blank') 面白法人カヤック
          | 入社
          ul
            li 閃光部（2012年〜2013年）
            li HTMLファイ部(2014年〜)
            li 人事部(2014年〜)

    section
      h1 昔取った杵柄
      ul
        li 大野市開成中学校 漢字博士(2000年)(1997度入学生としては単独での認定)
        li 漢字検定2級(2000年ごろ)
        li 数学検定準1級(2002年)
        li パソコン検定3級(2002年)
        li 金沢大学副学長表彰(2007年／ICT教材作成支援室学生クルーキャプテンとして)
        li
          a(href='http://www.atmj.co.jp/contest/main.html', target='_blank') ATMJコンテスト
          | で
          a(href='http://www.atmj.co.jp/contest/result.html', target='_blank') アイデア賞
          | を受賞

    section
      h1 興味キーワード

      section
        h1 研究
        p.keyword
          | 画像処理, 曲線, ベクタ画像, アンチエイリアシング,
          br
          | サンプリング, フーリエ変換, 解析信号, ヒルベルト変換,
          br
          | 数式処理, Mathematica, プロット, 2進数, 記数法, 演算器,
          br
          | 4次元, フラクタル, 再帰曲線, ドラゴン曲線,
          br
          | 黄金比, フィボナッチ数,
          br
          | 哲学, 心理学, 認知科学, 顔,
          br
          | 人工知能, 言語理解,
          br
          | グラフ理論, 巡回セールスマン問題, コラッツ問題（3n+1問題）,
          br
          | JSON, XML, MathML, SVG,
          | …

      section
        h1 アート
        p.keyword
          | デジタルアート, メディアアート, トリックアート,
          br
          | Flash (ActionScript), Illustrator,
          br
          | テクノ(Electronic), ドラムンベース, IDM, Chiptune,
          br
          | Autechre, Aphex Twin, Underworld, µ-Ziq, 電気グルーヴ, DE DE MOUSE,
          br
          | Final Fantasy, 植松伸夫, 崎元仁, 野村哲也, 吉田明彦,
          br
          | フォント,
          br
          | …

      section
        h1 その他趣味
        p.keyword
          | アイスクリーム, 甘味,
          br
          | お笑い,
          br
          | 漢字,
          br
          | ライフログ, SNS,
          br
          | …
