extends /_layout/_default-layout

append config-block
  - title = 'エンタテインメントコンピューティング2008'

prepend javascript-block
  script(src=`${rootPath}js/lib/swfobject.js`)

append javascript-block
  script
    | var el = document.querySelector(".swf-object");
    | swfobject.embedSWF("#{dataPath}/ec2008presentation.swf", el, 640, 480, 10);

block content-block
  +page-title

  .inner-block
    section
      +heading(4)
        | 論文情報

      +heading(5)
        | 発表タイトル

      p
        | 閉曲線図形に基づいた音色生成方法の検討

      +heading(5)
        | 著者

      ul
        li
          | 岩淵 勇樹
        li
          | 秋田 純一
        li
          | 北川章夫

      +heading(5)
        | Abstract

      p(lang="en")
        |  In this paper, we propose the method of sound synthesis which output audio
        | signal based on given closed curve. First, we derive the condition that similar figures
        | constantly represent the same timbre. And we try to convert curves into analytic signals,
        | that is the simplest representation that satisfy such condition. Through this research, it
        | can be created an intuitive musical interface.

      p
        i.material-icons picture_as_pdf
        a(href=`${dataPath}ec2008iwabuchi.pdf`) 論文（PDF）

      p
        small
          | ※本著作物の著作権は（社）情報処理学会に帰属します。本著作物は著作権者である情報処理学会の許可のもとに掲載するものです。ご利用に当たっては「著作権法」ならびに「
          a(href='http://www.ipsj.or.jp/ipsjcode.html', target='_blank') 情報処理学会倫理綱領
          | 」に従うことをお願いいたします。

    section
      +heading(4)
        | 発表資料（PC限定）

      .swf-object

    section
      +heading(4)
        | 参考文献

      ol
        li
          +bib('wiss--2008--iwabuchi-yuki')
        li
          +bib('mus-85--iwabuchi-yuki')
        li
          +bib('interaction--2011--iwabuchi-yuki')
        li
          +bib('art-science--2011--iwabuchi-yuki')
        li
          +bib('d-thesis--iwabuchi-yuki')
