extends /_layout/_default-layout

block content-block
  +page-title

  .inner-block
    ul.list
      li.item
        a.elm-a(href=`symbol/`)
          | 記号辞典〜コンピューターにおける記号の意味と使われ方〜
      li.item
        a.elm-a(href=`fractal/`)
          | フラクタル
      li.item
        a.elm-a(href=`butchi-number/`)
          | 物智数（平面的2進数）
      li.item
        a.elm-a(href=`analytic-signal/`)
          | 解析信号
