extends /_layout/_works-category

block works-index
  section
    h2
      | 作品
    .list
      -
        workArr = _.values(works).filter((work) => (
          work.genreMusic
        ))
      each work in workArr
        +work-item(work)
