.w_block {
  margin-left: auto;
  margin-right: auto;
}

.w {
  color: #006600;
  font-size: 16px;
  vertical-align: bottom;
}

a.w_google:link {
  color: #009900
}

a.w_google:visited {
  color: #006600
}

a.w_google:hover {
  color: #00ff00
}

a.w_google {
  /* â∫ê¸Çè¡Ç∑ */
  text-decoration: none;
}

#result {
  text-align: center;
}
