block config-block
  - path = pugPath.replace(/[^\/]+.pug$/, '')
  - rootPath = path.replace(/(.+?)[\/]/g, '../')
  - imgPath = `${rootPath}img/${path}`
  - dataPath = `${rootPath}data/${path}`

doctype html
html(lang="ja")
  head
    block head

  body(data-path= path)
    block content-body

    // javascript
    block javascript-block

    //- トラッキングID指定を忘れないように
    include /_partial/ga.html
