extends /_layout/_blank-page

include /_mixin/_heading
include /_mixin/_bib
include /_mixin/_mathjax

block content-body
  .wrapper
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      block header
        header.mdl-layout__header
          .mdl-layout__header-row
            //- Title
            span.mdl-layout-title
              = title
            //- Add spacer, to align navigation to the right
            .mdl-layout-spacer
            //- Navigation. We hide it in small screens.
            nav.mdl-navigation.mdl-layout--large-screen-only
              a.mdl-navigation__link(href='') Link
              a.mdl-navigation__link(href='') Link
              a.mdl-navigation__link(href='') Link
              a.mdl-navigation__link(href='') Link

      block drawer
        .mdl-layout__drawer
          span.mdl-layout-title Title
          nav.mdl-navigation
            a.mdl-navigation__link(href='') Link
            a.mdl-navigation__link(href='') Link
            a.mdl-navigation__link(href='') Link
            a.mdl-navigation__link(href='') Link
            .list-share.mdl-textfield--align-right
              .item-share.facebook
                .fb-like(data-href= url, data-layout='box_count', data-action='like', data-size='small', data-show-faces='false', data-share='true')
              .item-share.twitter
                a.twitter-share-button(href="https://twitter.com/share", data-lang="ja", data-url= url) ツイート
                script.
                  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
              .item-share.line
                span
                  script(type='text/javascript', src='//media.line.me/js/line-button.js?v=20140411')
                  script(type='text/javascript')
                    | new media_line_me.LineButton({"pc":false,"lang":"ja","type":"a","text": "#{title}","withUrl":true});
              .item-share.gplus
                .g-plusone(data-size='medium')

      main.mdl-layout__content
        block content-block

      block footer
        footer
          a(href= rootPath) Home

block body-header
  // 岩淵勇樹のホームページへようこそ！
  //- appId指定を忘れないように
  include /_partial/fb-sdk.html

block stylesheet-block
  link(rel="stylesheet", href= rootPath + 'css/material.min.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
  link(rel='stylesheet', href= rootPath + 'css/materialdesignicons.min.css')
  link(rel="stylesheet", href= rootPath + 'css/style.css')

block javascript-block
  script(src= rootPath + 'js/lib/jquery.min.js')
  script(src= rootPath + 'js/lib/lodash.min.js')
  script(src= rootPath + 'js/lib/material.min.js')
  script(src= rootPath + 'js/script.js')

block body-footer
  include /_partial/gplus-platform.html
