extends /_layout/_works-category

prepend config-block
  - rootPath = '../../'
  - path = `works/design/`

block works-index
  section
    h2
      | デザイン
    .list
      -
        workArr = Object.values(works.sheet).filter(work => work.genreDesign)
          .filter(work => (
            !hasTag(work, 'character')
            &&
            !hasTag(work, 'logo')
            &&
            !hasTag(work, 'newyear')
          ))
        ;
      each work in workArr
        +work-item(work)

  section
    h2
      | キャラクター
    .list
      -
        workArr = Object.values(works).filter(work => (
          work.genreDesign
        ))
          .filter(work => hasTag(work, 'character'))
        ;
      each work in workArr
        +work-item(work)

  section
    h2
      | 年賀状
    .list
      -
        workArr = Object.values(works).filter(work => (
          work.genreDesign
        ))
          .filter(work => hasTag(work, 'newyear'))
        ;
      each work in workArr
        +work-item(work)

  section
    h2
      | ロゴ
    .list
      -
        workArr = Object .values(works.sheet).filter(work => (
          work.genreDesign
        ))
          .filter(work => hasTag(work, 'logo'))
        ;
      each work in workArr
        +work-item(work)
