extends /_layout/_default-layout

append config-block
  - title = '学位論文'

prepend javascript-block
  script(src=`${rootPath}js/lib/swfobject.js`)

block content-block
  +page-title
    | 岩淵勇樹 学位論文

  .inner-block
    section.sec-body
      +heading(4)
        | 論文

      +heading(5)
        | 発表タイトル

      p
        | 2進数の平面的表現に関する考察

      p
        i.material-icons picture_as_pdf
        a(href= `${dataPath}b-thesis.pdf`) 論文（PDF）

    section.sec-presentation
      +heading(4)
        | 発表資料（PC限定）

      .btc-swf-object(data-src=`${dataPath}b-thesis.swf`, data-width="640", data-height="480")

    section.sec-reference
      a(name="reference")
      +heading(4)
        | 参考文献
      ol
        li
          +bib('butchi-number--2010-06--iwabuchi-yuki')
