extends ../../layout

block append vars
  - title = 'ビット逆転平面'

block main
  main(class='page__documents__bit-reversal-plane')
    h1 ビット逆転平面

    section
      h1 文献
      ul
        li
          | 岩淵勇樹・秋田純一, 「
          a(href='http://ci.nii.ac.jp/naid/110006380829/', target='_blank') 非周期的な画素配置を持つCMOSイメージセンサの基礎検討
          | 」, 電子情報通信学会技術報告, Vol.107, No.163, 電子情報通信学会技術研究報告, Vol.107, No.163, ICD2007-65, pp.165-170, 2007.7.
