@include with-page("person/profile/") {
  .sec-history {
    .item-history {
      @include mq-sp {
        font-size: px($base-font-size--pc);
      }
      @include mq-pc {
        font-size: px($base-font-size--pc);
      }

      .btc-heading {
        margin: 0;

        font-size: inherit;

        margin-right: 0.5em;
      }
    }

    .heading {
      display: inline-block;
    }
  }

  .sec-interest {
    .interest-category {
      display: block;

      .btc-heading {
        display: inline-block;

        margin: 0;
      }
      .keyword {
        display: inline-block;

        margin: 0;

        .elm-a {
          text-decoration: none;

          border-bottom: px(1) solid $black;

          &.google {
            border-bottom: px(1) dotted $black;
          }

          &:hover {
            border-bottom: none;
          }
        }
      }
    }
  }
}
