.page-person-profile {
  .sec-interest {
    .interest-category {
      display: block;

      .heading {
        display: inline-block;

        margin: 0;
      }
      .keyword {
        display: inline-block;

        margin: 0;
      }
    }
  }
}
