extends /_layout/_works-category

prepend config-block
  - rootPath = '../../'
  - path = `works/movie/`

block works-index
  section
    h2
      | 映像
    .list
      -
        workArr = Object.values(works.sheet).filter(work => (
          work.genreMovie
        ))
      each work in workArr
        +work-item(work)
