extends /_layout/_default-layout

append config-block
  - title = 'WISS2008'

block content-block
  +page-title

  .inner-block

    section
      +heading(4)
        | 論文情報

      +heading(5)
        | 著者

      ul
        li
          | 岩淵 勇樹
        li
          | 秋田 純一
        li
          | 北川章夫

      +heading(5)
        | 発表タイトル

      p
        | 閉曲線図形の特性に基づいた音色生成の一手法

      +heading(5)
        | Abstract

      p
        | 電子楽器を用いることにより，今までにない新たな音色を作ることが可能となっており，
        | 音色を生成する方法も数多く考案されている．
        | しかしながら，それらのほとんどは多種多様な音色を作るために多くのパラメータ制御を必要とするため，
        | 直感的な操作が難しく，特性を掴むのに多くの時間を要する．
        | 本研究では，マウスやタッチパッドなどの入力デバイスによって直感的な音色入力インタフェースを構築するために，
        | 閉曲線から周期信号を生成するオシレーターの基本原理を考える．
        | 具体的には，平面上の閉曲線図形について，相似図形同士が同じ音色と対応するような変換方法を検討する．
        | 図形と音を対応付けることにより，直感的な入力が可能になるほか，
        | 視覚表現と融合した音楽パフォーマンスへの応用も考えられる．

    section
      +heading(4)
        | 発表資料

      p
        i.material-icons picture_as_pdf
        a(href="https://www.wiss.org/WISS2008Proceedings/posters/paper0057.pdf") 論文（PDF）

      p
        i.material-icons picture_as_pdf
        a(href=`${dataPath}wiss2008poster.pdf`) ポスター（PDF）

      p
        a(href="demo/")
          | デモプログラム<b>（音が出ます！）</b>

    section
      +heading(4)
        | 参考文献

      ol
        li
          +bib('ec--2008--iwabuchi-yuki')
        li
          +bib('mus-85--iwabuchi-yuki')
        li
          +bib('interaction--2011--iwabuchi-yuki')
        li
          +bib('art-science--2011--iwabuchi-yuki')
        li
          +bib('d-thesis--iwabuchi-yuki')
