extends ./layout

block vars
  - title = ''

block append js
  script(src='/js/top.js')

block main
  main(class='page-top')
    h1
      ruby
        | 岩淵
        rp (
        rt いわぶち
        rp )
        | 勇樹
        rp (
        rt ゆうき
        rp )
      | (IWABUCHI Yu(u)ki)

    p
      a(href='index-e.html') English version

    section.section-icon#icon
      h1 ICON
      a.icon
        img(width='128', height='128', src='img/myavg.jpg', alt='平均自画像', title='平均自画像')
      a.icon(href='m/')
        img(width='128', height='128', src='img/qr.png', alt='モバイルサイト', title='モバイルサイト')
      a.icon
        img(width='128', height='128', src='img/chinese_character.png', alt='Butchi', title='Butchi')
      a.icon(href='documents/music/')
        img(width='128', height='128', src='img/music.png', alt='♪', title='♪')
      a.icon(href='documents/planar_binary/')
        img(width='128', height='128', src='img/planar_binary.png', alt='平面的2進数（Butchi数）', title='平面的2進数（Butchi数）')
      a.icon(href='documents/planar_binary/#quatenary_tile')
        img(width='128', height='128', src='img/quatenary_tile.png', alt='4進タイル（1000）', title='4進タイル（1000）')
      a.icon(href='http://ci.nii.ac.jp/naid/110006380829/', target='_blank')
        img(width='128', height='128', src='img/bit_reversal_plane.png', alt='ビット逆転平面', title='ビット逆転平面')
      a.icon
        img(width='128', height='128', src='img/dragon_tapestry_red.png', alt='ドラゴン曲線のタペストリー', title='ドラゴン曲線のタペストリー')
      a.icon(href='http://reference.wolfram.com/mathematica/ref/BitXor.html', target='_blank')
        img(width='128', height='128', src='img/bitwise_xor.png', alt='ビット毎の排他的論理和（see also: Mathematicaヘルプ BitXorの項目）', title='ビット毎の排他的論理和')
      a.icon(href='documents/design/')
        img(width='128', height='128', src='img/bion.png', alt='両対数極座標', title='両対数極座標')
      a.icon(href='http://www.youtube.com/watch?v=v64F7YaY27U', target='_blank')
        img(width='128', height='128', src='img/gray_code_counter.gif', alt='グレイコードカウンタ', title='グレイコードカウンタ')
      a.icon(href='documents/fractal')
        img(width='128', height='128', src='img/fractal.png', alt='フラクタル', title='フラクタル')
      a.icon(href='documents/analytic-signal/')
        img(width='128', height='128', src='img/analytic_signal_harmonica.png', alt='解析信号（ハーモニカ）', title='解析信号（ハーモニカ）')
      a.icon(href='documents/analytic-signal/')
        img(width='128', height='128', src='img/analytic_signal_whistle.png', alt='解析信号（口笛）', title='解析信号（口笛）')
      a.icon
        img(width='128', height='128', src='img/regular_icosahedron.png', alt='正20面体', title='正20面体')
      a.icon(href='documents/design/')
        img(width='128', height='128', src='img/delta.png', alt='DeltaΔPulse', title='DeltaΔPulse')
      a.icon(href='documents/design/')
        img(width='128', height='128', src='img/star.png', alt='star', title='star')
      a.icon(href='documents/character/')
        img(width='128', height='128', src='img/notoryu.png', alt='ノトリュー', title='ノトリュー')
      a.icon(href='hanjukugo/')
        img(width='128', height='128', src='img/hanjukugo.png', alt='半熟語', title='半熟語')
      a.icon(href='http://butchi.jp/magic/')
        img(width='128', height='128', src='img/nandemo_magic.png', alt='なんでも魔法。', title='なんでも魔法。')
      a.icon(href='http://butchi.jp/iiknock/')
        img(width='128', height='128', src='img/door.png', alt='いいノック', title='いいノック')

    section.section-feed#feed
      h1 FEED
      .butchi-feed

    section.section-news#news
      h1 NEWS
      ul
        li
          | 岩淵勇樹による博士論文公聴会「図形と音声の変換手法とその応用に関する研究」が2012年2月8日 15:00-16:00 金沢大学自然科学研究科2B716にて行われます。(2012年1月30日)
        li
          a(href='http://www.atmj.co.jp/contest/main.html', target='_blank') ATMJコンテスト
          | で
          a(href='http://www.atmj.co.jp/contest/result.html', target='_blank') アイデア賞
          | を受賞しました！(2011年11月28日)

    section.section-bibliogfraphy#bibliography
      h1 略歴
      ul
        li 1984年 福井県大野市生まれ
        li 2007年 金沢大学 工学部 情報システム工学科 卒業
        li 2009年 金沢大学大学院 自然科学研究科 電子情報工学専攻 博士前期課程修了
        li 2012年 金沢大学大学院 自然科学研究科 電子情報科学専攻 博士後期課程修了・博士（工学） 
        li
          | 2012年4月～
          a(href='http://www.kayac.com/', target='_blank') 面白法人カヤック
      a(href='profile.html') →略さない歴
      a(href='creed.html') →者是
      a(href='people/') →関連人物

      section#research_theme
        h1 研究テーマ
        p 数学的特性に基づくインターフェースや、美しい画像表現のためのハードウェア、効率的な処理を行う演算器など。
        p 数学モデルの集積回路・インタラクティブシステムなどへの応用に関する研究に従事。

    section.section-document#document
      h1 諸々
      ul
        li
          a(href='documents/planar_binary/') 平面的2進数（Butchi数）
        li
          a(href='documents/music/') 音楽
        li
          a(href='documents/poem/') 詩
        li
          a(href='documents/analytic-signal/') 解析信号ギャラリー
        li
          a(href='documents/character/') キャラクター
        li
          a(href='documents/design/') デザイン
        li
          a(href='documents/fractal/') フラクタル図形一覧
        li
          a(href='documents/graphicalpad/') GraphiCalPad
        li
          a(href='documents/symbol/') 記号辞典〜コンピューターにおける記号の意味と使われ方〜
        li
          a(href='documents/webclappad/') WebClapPad
        li
          a(href='http://butchi.jp/magic/') なんでも魔法。
        li
          a(href='http://butchi.jp/pokemon/') ポポポポケモン！
        li
          a(href='http://butchi.jp/iiknock/') いいノック
        li
          a(href='http://butchi.jp/secondly_happy/') 秒刊ハッピー

    section.section-publication#publication
      h1 発表文献

      section
        h1 国際発表
        ul
          li
            | Yuuki IWABUCHI, Junichi AKITA, "Properties of “Planar Binary (Butchi Number)”,"
            a(href='http://arn.local.frs.riken.jp/UC10/', target='_blank') Unconventional Computation (UC)
            | , 2010.6.
          small
            a(href='documents/uc2010poster.pdf') [poster (PDF)]

      section
        h1 国内発表
        ul
          li
            | 岩淵勇樹・秋田純一, 「
            a(href='http://ci.nii.ac.jp/naid/110006380829/', target='_blank') 非周期的な画素配置を持つCMOSイメージセンサの基礎検討
            | 」, 電子情報通信学会技術研究報告, Vol.107, No.163, ICD2007-65, pp.165-170, 2007.7.
          small
            a(href='documents/icd200707presentation.html') [発表資料(Flashページ)]
          li
            | 岩淵勇樹・秋田純一・北川章夫, 「閉曲線図形に基づいた音色生成方法の検討」,
            a(href='http://www.dc-meiji.jp/ec2008/', target='_blank') エンタテインメントコンピューティング2008
            | 論文集, pp.143-146, 2008.10.
          small
            a(href='documents/ec2008iwabuchi.pdf')
              | [論文(PDF)
              sup ※
              | ]
            | ※本著作物の著作権は（社）情報処理学会に帰属します。本著作物は著作権者である情報処理学会の許可のもとに掲載するものです。ご利用に当たっては「著作権法」ならびに「
            a(href='http://www.ipsj.or.jp/ipsjcode.html', target='_blank') 情報処理学会倫理綱領
            | 」に従うことをお願いいたします。
            a(href='documents/ec2008presentation.html') [発表資料(Flashページ)]
          li
            | 岩淵勇樹・秋田純一・北川章夫, 「閉曲線図形の特性に基づいた音色生成の一手法」,
            a(href='http://www.wiss.org/WISS2008/', target='_blank') 第16回インタラクティブシステムとソフトウェアに関するワークショップ（WISS2008）
            | 論文集, pp.149-150, 2008.11.
          small
            a(href='http://www.wiss.org/WISS2008Proceedings/posters/paper0057.pdf') [論文(PDF)]
            a(href='documents/wiss2008poster.pdf') [ポスター(PDF)]
            a(href='documents/wiss2008demo.html')
              | [デモ（Flashページ）
              b ※音が出ます
              | ]
          li
            | 前田唯・岩淵勇樹・秋田純一, 「
            a(href='http://ci.nii.ac.jp/naid/40016434231') 空間スペクトルを用いたジャギー評価に関する一考察～擬似的不規則画素配置によるジャギーの解消効果～
            | 」, 映像情報メディア学会技術報告, Vol.32, No.57, pp.29-32, 2008.12.
          li
            | 岩淵勇樹・秋田純一・北川章夫, 「閉曲線を利用した音色操作方法の検討と実装」,
            a(href='http://www.sigmus.jp/SIG/sig201005program.html', target='_blank') 第85回音楽情報科学研究会
            | , 2010.5.
          small
            a(href='documents/mus85paper.pdf')
              | [論文(PDF)
              sup ※
              | ]
            | ※本著作物の著作権は（社）情報処理学会に帰属します。本著作物は著作権者である情報処理学会の許可のもとに掲載するものです。ご利用に当たっては「著作権法」ならびに「
            a(href='http://www.ipsj.or.jp/ipsjcode.html', target='_blank') 情報処理学会倫理綱領
            | 」に従うことをお願いいたします。
            a(href='documents/mus85presentation.pdf') [発表資料(PDF)]
            a(href='documents/mus85demo/') [デモ（Flashページ）]
          li
            | 岩淵勇樹・秋田純一・北川章夫, 「閉曲線を利用した音色の操作方法」,
            a(href='http://www.interaction-ipsj.org/2011/', target='_blank') インタラクション2011
            | , 2011.3.
          small
            a(href='documents/interaction2011paper.pdf')
              | [論文(PDF)
              sup ※
              | ]
            | ※本著作物の著作権は（社）情報処理学会に帰属します。本著作物は著作権者である情報処理学会の許可のもとに掲載するものです。ご利用に当たっては「著作権法」ならびに「
            a(href='http://www.ipsj.or.jp/ipsjcode.html', target='_blank') 情報処理学会倫理綱領
            | 」に従うことをお願いいたします。
            a(href='documents/interaction2011poster.pdf') [ポスター(PDF)]
            a(href='documents/mus85demo/') [デモ（Flashページ、第85回音楽情報科学研究会と同じ）]
          li
            | 岩淵勇樹・秋田純一・北川章夫, 「閉曲線を利用した音色の操作法」,
            a(href='http://art-science.org/journal/', target='_blank') 芸術科学会論文誌
            | , Vol.10, No.3, pp.157-166, 2011.9.
          small
            a(href='http://art-science.org/journal/v10n3/v10n3pp157/artsci-v10n3pp157.pdf') [論文(PDF)]
            a(href='http://art-science.org/journal/v10n3/v10n3pp157/demo.html') [デモ（Flashページ）]
          li
            | 岩淵勇樹, 「GraphiCalPad」,
            a(href='http://imi.kyushu-u.ac.jp/~waki/lams/', target='_blank') 数学ソフトウェア紹介
            | (2013年)
          small
            a(href='documents/math_soft_intro.pdf') [ポスター(PDF)]
            a(href='documents/graphicalpad') [デモ（Flashページ）]

      section
        h1 学内発表・講義関連
        ul
          li 自主課題研究「偏角関数を用いた曲線の研究」(2006)
          small
            a(href='documents/b3-research.pdf') [レポート(PDF)]
            a(href='documents/b3-research.ppt') [発表スライド(.ppt)]
          li 卒業論文「2進数の平面的表現に関する考察」(2007)
          small
            a(href='documents/b-thesis.pdf') [論文(PDF)]
            a(href='documents/b-thesis.html') [発表スライド(Flashページ)]
          li カオスとその応用「研究紹介 ～フラクタルと絡めて～」(2007)
          small
            //
              <a href="documents/Chaotic_Dynamics_and_Its_Applications.htm">[発表スライド(HTML)]</a>
            a(href='documents/Chaotic_Dynamics_and_Its_Applications.ppt') [発表スライド(.ppt)]
          li 修士論文「閉曲線図形を利用した音色生成法」(2009)
          small
            a(href='documents/m-thesis.ppt') [発表スライド(.ppt)]
          li 博士論文「図形と音声の変換手法とその応用に関する研究」(2012)
          small
            a(href='documents/d-thesis/') [特設ページ]
          li
            a(href='documents/reading_seminar/') 論文輪講
          li
            a(href='documents/tte/') テクノロジトレンド工学
          li
            a(href='documents/The_Labyrinth_of_Cubic_Puzzle/') キュービックパズルの迷宮
          li 記数法のさまざまな拡張～2進数からButchi数まで～（2012年）
          small
            a(href='documents/yugen20120826') [発表スライド(HTMLページ)]

    section.section-institution#institution
      h1 所属学会
      ul
        li
          a(href='http://www.ieice.or.jp/', target='_blank') 電子情報通信学会(IEICE)
    
    section.section-link#link
      h1 リンク

      section
        h1 所属
        ul
          li
            a(href='http://www.kanazawa-u.ac.jp/', target='_blank') 金沢大学
          li
            a(href='http://merl.jp/', target='_blank') 金沢大学 理工学域 電子情報学類 集積回路工学研究室
          li
            a(href='http://www.el.kanazawa-u.ac.jp/', target='_blank') 金沢大学 FD・ICT教育推進室
          li
            a(href='http://melomelo.web.infoseek.co.jp/', target='_blank') 金沢大学アカペラサークル"MeloMelo"
            | （
            a(href='http://www.geocities.jp/nanigashiitai/', target='_blank') アカペラグループ「某隊」
            | ）
          li
            a(href='http://kanazawa.cool.ne.jp/fackanazawa/', target='_blank') 金沢大学美術部

      section
        h1 関連リンク
        ul
          li
            a(href='http://butchi.blog42.fc2.com/') ブッチブログ
          li
            a(href='http://mixi.jp/show_profile.pl?id=3213231') mixi (ID:3213231)
          li
            a(href='http://twitter.com/butchi_y') Twitter (id:butchi_y)
          li
            a(href='http://twitter.com/zougoroku') Twitter（造語録）
          li
            a(href='http://twitter.com/nandemo_magic') Twitter（なんでも魔法BOT）
          li
            a(href='http://www.lastfm.jp/user/butchi_y') Last.fm (id=butchi_y)
          li
            a(href='http://www.pixiv.net/member.php?id=119') pixiv (id=119)
          li
            a(href='http://merl.ec.t.kanazawa-u.ac.jp/diary_public/index.php?butchi') 研究室作業日誌

    .e-mail
      p.address
        | e-mail:
        | k38647
        span.delete-me (deleteme:スパム対策)
        | @gmail.com
      p.attention (テキストコピー時注意↑)

  block footer
