extends /_layout/_default-layout

append config-block
  - pageId = 'project--nandemo-magic'
  - title = 'なんでも魔法。'
  - rootPath = '../../'
  - path = 'project/nandemo-magic/'

block content-block
  h3.btc-heading(data-heading-level="3")
    = title

  .inner-block
    p
      a(href="http://twitter.com/nandemo_magic")
        img(alt="なんでも魔法。BOTロゴ", src= `https://pbs.twimg.com/profile_images/1296115665/nandemo_magic.png` width="64" height="64")
        | Twitter BOT版
    p
      a(href= `${rootPath}project/po3pokemon/`) 姉妹サービス「ポポポポケモン！」
