extends /_layout/_default-layout

append config-block
  - title = '岩淵 勇樹'

block content-block
  section.sec-history
    +page-title

    .inner-block
      ul
        li
          a(href="profile/")
            | 生い立ち

        li
          a(href="creed/")
            | 者是

        li
          a(href="people/")
            | 関連人物
