extends /_layout/_default-layout

append config-block
  - title = '生い立ち'

block content-block
  +page-title
    span(lang="ja")
    ruby
      mixin ruby(kanji, hiragana)
        = kanji
        rp (
        rt= hiragana
        rp )

      +ruby('岩淵', 'いわぶち')
      +ruby('勇樹', 'ゆうき')

    |  

    span(lang="en")
      | (IWABUCHI Yu(u)ki)

  section.sec-history
    +section-title
      | 生い立ち

    .inner-block
      ul.list-history
        li.item-history
          +heading(4)
            time(datetime="1984-09-13T06:18") 1984年9月13日午前6時18分
          | 福井県大野市生まれ
        li.item-history
          +heading(4)
            time(datetime="1991") 1991年
          | 大野市有終西小学校 入学
          ul
            li 調理クラブ
            li 相撲クラブ
            li 漫画クラブ他
        li.item-history
          +heading(4)
            time(datetime="1997") 1997年
          | 大野市開成中学校 入学
          ul
            li 美術部
        li.item-history
          +heading(4)
            time(datetime="2000") 2000年
          | 福井県立大野高等学校 入学
          ul
            li パソコン部
            li 放送部(2001年～)
            li 合唱部(2001年～)
        li.item-history
          +heading(4)
            time(datetime="2003") 2003年
          | 金沢大学 工学部 情報システム工学科 入学
          ul
            li アカペラサークル"MeloMelo"
            li 美術部
            li ICT教材作成支援室（金沢大学FD・ICT教育推進室）(2005年～)
        li.item-history
          +heading(4)
            time(datetime="2007") 2007年
          | 金沢大学大学院 自然科学研究科 電子情報工学専攻 博士前期課程 入学
        li.item-history
          +heading(4)
            time(datetime="2008-12") 2008年12月
          | 人生最大の転機
        li.item-history
          +heading(4)
            time(datetime="2009") 2009年
          | 金沢大学大学院 自然科学研究科 電子情報科学専攻 博士後期課程 入学
        li.item-history
          +heading(4)
            time(datetime="2012") 2012年
          a(href='http://www.kayac.com/', target='_blank') 面白法人カヤック
          | 入社
          ul
            li
              | 閃光部（
              time(datetime="2012") 2012年
              | 〜
              time(datetime="2013") 2013年
              | ）
            li
              a(href="https://qiita.com/organizations/kayac", target="_blank")
                | HTMLファイ部
              | （
              time(datetime="2014") 2014年
              | 〜）
            li
              a(href="https://www.kayac.com/news/2014/07/alljinji", target="_blank")
                | 人事部
              | （
              time(datetime="2014") 2014年
              | 〜）
        li.item-history
          +heading(4)
            time(datetime="2015-10") 2015年
            | ～ 
          a(href="http://wbawakate.jp/", target="_blank")
            | 全脳アーキテクチャ若手の会
          |  社会人支部

  section
    +section-title
      | 昔取った杵柄

    .inner-block
      ul
        li 大野市開成中学校 漢字博士(2000年)(1997度入学生としては単独での認定)
        li 漢字検定2級(2000年ごろ)
        li 数学検定準1級(2002年)
        li パソコン検定3級(2002年)
        li 金沢大学副学長表彰(2007年／ICT教材作成支援室学生クルーキャプテンとして)
        li
          a(href='http://www.atmj.co.jp/contest/main.html', target='_blank') ATMJコンテスト
          | で
          a(href='http://www.atmj.co.jp/contest/result.html', target='_blank') アイデア賞
          | を受賞
        li
          a(href="http://www.zenhack.jp/", target="_blank")
            | ZenHack 2015 Summer
          | で禅ハック賞受賞（
          a(href="http://butchi.github.io/itadakimasu/", target="_blank")
            | 受賞作品
          | ）

  section.sec-interest
    mixin interest-list(key)
      +heading(4)
        = key
      each row, rowTitle in interest[key]
        .interest-category
          //- h5.heading
            = rowTitle
            | : 
          p.keyword
            each item in row
              - var href;
              - var type = null;
              - var target = null;

              if item === null
              else if item === '解析信号'
                - href = `${rootPath}documents/analytic-signal/`;
              else if item === 'フラクタル'
                - href = `${rootPath}documents/fractal/`;
              else if item === '人工知能'
                - target = '_blank'
                - href = 'http://wbawakate.jp/';
              else
                - type = 'google'
                - href = `https://www.google.com/#q=${encodeURIComponent(item)}`

              if type === 'google'
                a.elm-a.google(href= href, target="_blank")
                  = item
              else
                a.elm-a(href= href, target= target)
                  = item

              | , 
      p
        | …

    +section-title
      | 興味キーワード

    .inner-block
      section.sec-interest-research
        +interest-list('研究')

      section.sec-interest-art
        +interest-list('アート')

      section
        +interest-list('その他趣味')
