extends /_layout/_default-layout

append config-block
  - pageId = 'project--waraken'
  - title = 'ワラ検 or ワラサーチ or クサーチ'

block content-block
  h3.btc-heading(data-heading-level="3")
    = title

  .inner-block
    p
      | 「ｗｗ」とか「ｗｗｗｗ」とかの検索結果をグラフ化。

    p
      | （現在サービス停止中）