- imgPath = '../../../img/project/hanjukugo/'

doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title 半熟語
  body
    h1 岩淵勇樹「半熟語」概要
    h2 概要
    p
      | 半熟語は「遠隣～OnLin～」というシリーズの中の1作品です。
      | 右脳と左脳をフル活用して熟語を推測する脳トレコンテンツとなっております。
      | 2人で楽しむ場合は、お互いのディスプレイ同士を横に並べると答えを確認できるようになっています。
    h2 遊び方
    a(href= `${imgPath}introduction.png`) 遊び方画像
    h3 一人で楽しむ
    ol
      li
        a(href="../") トップページ
        | にアクセス
      |   
      li 左か右のどちらかを選び、合体した漢字を推測します。
      |   
      li 「熟語」を選択し、答えを確認します。
    h3 二人で楽しむ
    ol
      li
        | 左の人は
        a(href="../l/") 左の人メニュー
        | 、右の人は
        a(href="../r/") 右の人メニュー
        | にアクセス
      |   
      li お互い同じ項目を選び、お互いのパーツを推測します。
      |   
      li 携帯電話の画面を合わせて合体漢字、完成！
