extends /_layout/_default-layout

append config-block
  - title = '第85回音楽情報科学研究会デモ'

prepend javascript-block
  script(src=`${rootPath}js/lib/swfobject.js`)

append javascript-block
  script
    | var el = document.querySelector(".swf-object");
    | swfobject.embedSWF("#{dataPath}mus85demo.swf", el, 610, 377, 10);

block content-block
  +page-title

  .inner-block
    +heading(4)
      | 概要
    p
      | 第85回音楽情報科学研究会のデモ用に制作したプログラムを掲載しています。
    p
      | 「解析信号」を複素平面上で操作することにより、それに応じた音色を生成します。
    p
      | プログラム実行には
      a(href="http://get.adobe.com/jp/flashplayer/", target="_blank")
        | Adobe Flash Player
      | が必要です。
    p
      | 開発環境：Adobe Flash CS4 / ActionScript 3.0

    +heading(4)
      | デモプログラム

    .swf-object

    p
      a(href= `${dataPath}analytic_signal_synthesizer10.fla`) flaファイル
      | （MIDIキーボード接続機能付き。エラーが出るときは"// Max/MSPとの接続"以降27行を削除してください。）
    p
      a(href= `${dataPath}mus85demo.swf`) swfファイル


    +heading(4)
      | 操作説明
    ul
      li 円形は黒い点（制御点）が集まって構成されています。制御点をドラッグすると音が変化します。（点が外れすぎると音割れが生じるので注意してください。）
      |   
      li 左上のOscillatorのプルダウンメニューから音色を選択することができます。
      |   
      li 右側の青い線が実際生成される音の時間波形（2周期分）です。左側の図形の縦座標と一致します。
      |   
      li CtrlModeのプルダウンメニューを選択するか、ドラッグ中にマウスのホイールを操作すると、ctrlModeが変わってドラッグ時の影響が変化します。
      |   
      li 右上のAmplifierの黒い点（あるいは太い棒）をドラッグするとADSRエンベロープを制御できます。
      |   
      li キー入力はマウスで鍵盤を押すか、キーボード入力をすると可能です。キーボード入力をする際は一度プログラム画面をクリックしてください。

    +heading(4)
      | 特徴
    ul
      li
        a(href="http://www.vector.co.jp/soft/win95/art/se085448.html", target="_blank") WaveSpectra
        | などのソフトで生波形を見てみてください。「リサジュー」で両チャンネルの波形をプロットすると、VCOで操作している閉曲線図形と同じ形が見えると思います。
      |   
      li
        | これは実際に音声のLチャンネルとRチャンネルにそれぞれの軸の波形を割り当てているからなのですが、横軸の波形と縦軸の波形は「ヒルベルト変換」という変換の関係にあるため、片方の波形はもう片方の波形に依存します。（プログラムの右側の青い波形は、今回Lチャンネルに割り当てられています。）
      |   
      li
        | また、両波形はパワースペクトルは同じである（位相だけ90度ずれている）ため、波形が全く違うように見えても聞こえる音はほとんど同じです。（そのため、出力としてはLチャンネルだけでよいのですが、便宜上「虚」の波形も出力している次第です。）

    +heading(4)
      | 終わりに
    p 「解析信号」を複素平面上で操作するという、波形編集の新たな方法を提案しました。これを応用すれば、今までにない新しい音作りが期待できます。
    p ご意見・ご質問があれば著者にお気軽に連絡ください。

    +heading(4)
      | 参考文献

    ol
      li
        +bib('ec--2008--iwabuchi-yuki')
      li
        +bib('mus-85--iwabuchi-yuki')
      li
        +bib('wiss--2008--iwabuchi-yuki')
      li
        +bib('interaction--2011--iwabuchi-yuki')
      li
        +bib('art-science--2011--iwabuchi-yuki')
      li
        +bib('d-thesis--iwabuchi-yuki')
