.page-root {
  .delete-me {
    display: inline-block;

    width: 1px;
    height: 1px;

    text-indent: -9999px;
  }

  .sec-link {
    ul {
      padding-left: px(20);
    }

    li {
      list-style: none;
    }

    .mdi, .material-icons {
      vertical-align: middle;

      font-size: px(18);
    }

    .mdi-facebook-box {
      color: #3b5998;
    }

    .mdi-twitter-box {
      color: #1da1f2;
    }

    .mdi-tumblr {
      color: #35465c;
    }
  }
}