@include with-page(page---root) {
  .e-mail {
    text-align: right;

    .material-icons {
      vertical-align: middle;
    }

    .delete-me {
      display: inline-block;

      position: absolute;

      width: 1px;
      height: 1px;

      left: -9999px;
      top: 0;

      opacity: 0;
    }
  }

  .sec-link {
    ul {
      padding-left: px(20);
    }

    li {
      list-style: none;
    }

    .mdi, .material-icons {
      vertical-align: middle;

      font-size: px(18);
    }
  }
}