extends /_layout/_default-layout

append config-block
  - title = '卒業研究'

prepend javascript-block
  script(src=`${rootPath}js/lib/swfobject.js`)

append javascript-block
  script
    | var el = document.querySelector(".swf-object");
    | swfobject.embedSWF("#{dataPath}../b-thesis.swf", el, 640, 480, 10);

block content-block
  +page-title

  .inner-block
    .swf-object
