extends /_layout/_default-layout

append config-block
  - pageId = 'publication--mus105'
  - title = ''
  - rootPath = '../../'
  - path = 'publication/mus105'
  - dataPath = `${rootPath}data/${path}`

//- append stylesheet-block

//- append javascript-block

block content-block
  h3.btc-heading(data-heading-level="3")
    | no title
