extends /_layout/_default-layout

append config-block
  - title = 'フラクタル'
  - description = 'フラクタルについての雑文'
  - keywords = ['フラクタル', '再帰曲線']

prepend javascript-block
  +mathjax

block content-block
  +page-title

  .inner-block
    +md('doc/fractal.md')

      //-
        <h2>フラクタル次元</h2>
        フラクタル図形の次元一覧は<a href="http://en.wikipedia.org/wiki/List_of_fractals_by_Hausdorff_dimension">Wikipediaの記事（英語）</a>を参照。
        <table>
        <tr><th>位相次元</th><th>フラクタル次元（近似値）</th><th>フラクタル次元（具体値）</th><th>図形</th></tr>
        <tr><td></td><td>0.631</td><td>log<sub>3</sub>2</td><td>カントール集合</td></tr>
        <tr><td></td><td>1.262</td><td>log<sub>3</sub>4</td><td>Cantor dust</td></tr>
        <tr><td></td><td>1.262</td><td>log<sub>3</sub>4</td><td>コッホ曲線</td></tr>
        <tr><td></td><td>1.524</td><td>log<sub>2</sub>{(1+(73-6√87)<sup>1/3</sup>+(73+6√87)<sup>1/3</sup>)/3}</td><td>ドラゴン曲線の境界線</td></tr>
        <tr><td></td><td>1.585</td><td>log<sub>2</sub>3</td><td>シェルピンスキーのギャスケット</td></tr>
        <tr><td></td><td>1.893</td><td>log<sub>3</sub>8</td><td>シェルピンスキーのカーペット</td></tr>
        <tr><td></td><td>2.000</td><td>2<td>マンデルブロ集合の境界線</td></tr>
        <tr><td></td><td>2.727</td><td>log<sub>3</sub>20</td><td>メンガーのスポンジ</td></tr>
        </table>
