@charset "UTF-8";
.btc-butchi-number-viewer {
  position: relative; }
  .btc-butchi-number-viewer .input-number {
    display: block;
    height: 30px;
    font-size: 20px; }
  .btc-butchi-number-viewer .display-butchi-number {
    position: relative;
    border-bottom: solid 1px #999;
    border-right: solid 1px #999; }
  .btc-butchi-number-viewer .area-tap {
    position: absolute;
    left: 266px;
    left: 2.66rem;
    bottom: 0; }
    .btc-butchi-number-viewer .area-tap .btn {
      background-color: #eee;
      width: 50px;
      height: 50px;
      padding: 0;
      margin: 0;
      text-align: center;
      line-height: 50px;
      color: #666;
      border: 1px solid #ddd;
      cursor: pointer; }
      .btc-butchi-number-viewer .area-tap .btn:hover, .btc-butchi-number-viewer .area-tap .btn:active {
        background-color: #ccc; }
      .btc-butchi-number-viewer .area-tap .btn[data-operation="up"]:after {
        content: "▲"; }
      .btc-butchi-number-viewer .area-tap .btn[data-operation="down"]:after {
        content: "▼"; }

.btc-site-title {
  position: relative;
  padding-left: 10px;
  padding-left: 0.1rem;
  font-size: 26px;
  font-size: 0.26rem; }

.btc-page-title {
  position: relative;
  width: 100%;
  margin-left: 0px;
  margin-left: 0rem;
  padding: 5px 15px;
  padding: 0.05rem 0.15rem;
  background-color: #3f51b5;
  font-size: 26px;
  font-size: 0.26rem;
  color: #ffffff; }
  .btc-page-title.is-uppercase, body[data-path="/"] .btc-page-title.btc-heading[data-heading-level="3"] {
    text-transform: uppercase; }

.btc-section-title {
  position: relative;
  width: 100%;
  margin-left: 0px;
  margin-left: 0rem;
  padding: 5px 15px;
  padding: 0.05rem 0.15rem;
  background-color: #3f51b5;
  color: #ffffff; }
  .btc-section-title.is-uppercase, body[data-path="/"] .btc-section-title.btc-heading[data-heading-level="3"] {
    text-transform: uppercase; }

.btc-heading[data-heading-level="1"] {
  font-size: 26px;
  font-size: 0.26rem; }

.btc-heading[data-heading-level="2"] {
  font-size: 26px;
  font-size: 0.26rem; }

.btc-heading[data-heading-level="3"] {
  font-size: 26px;
  font-size: 0.26rem; }

.btc-heading[data-heading-level="4"] {
  font-size: 24px;
  font-size: 0.24rem; }
  section > .btc-heading[data-heading-level="4"] {
    border-left: 10px solid #3f51b5;
    padding-left: 10px; }

.btc-heading[data-heading-level="5"] {
  font-size: 22px;
  font-size: 0.22rem; }
  section > .btc-heading[data-heading-level="5"] {
    font-weight: bold; }

.btc-heading[data-heading-level="6"] {
  font-size: 20px;
  font-size: 0.2rem; }

.btc-heading[data-heading-level="7"] {
  font-size: 19px;
  font-size: 0.19rem; }

.btc-heading[data-heading-level="8"] {
  font-size: 18px;
  font-size: 0.18rem; }

.btc-heading[data-heading-level="9"] {
  font-size: 17px;
  font-size: 0.17rem; }

.btc-heading[data-heading-level="10"] {
  font-size: 16px;
  font-size: 0.16rem; }

h1:not([class]) {
  font-size: 26px;
  font-size: 0.26rem; }

h2:not([class]) {
  line-height: inherit;
  border-left: 10px solid #3f51b5;
  padding-left: 10px;
  font-size: 24px;
  font-size: 0.24rem; }

h3:not([class]) {
  font-size: 22px;
  font-size: 0.22rem;
  font-weight: bold; }

h4:not([class]) {
  font-size: 20px;
  font-size: 0.2rem; }

h5:not([class]) {
  font-size: 19px;
  font-size: 0.19rem; }

h6:not([class]) {
  font-size: 18px;
  font-size: 0.18rem; }

.display-none {
  display: none; }

@media screen and (min-width: 640px) {
  .pc-none {
    display: none; } }

@media screen and (min-width: 320px) and (max-width: 639px) {
  .sp-none {
    display: none; } }

html {
  font-size: 100px; }

body {
  font-family: YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, "メイリオ", sans-serif; }
  @media screen and (min-width: 320px) and (max-width: 639px) {
    body {
      font-size: 0.15rem;
      line-height: 1.618; } }
  @media screen and (min-width: 640px) {
    body {
      font-size: 0.15rem;
      line-height: 1.618; } }

main {
  display: block; }

* {
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: underline; }
  a.hover, a:hover {
    text-decoration: none; }

@media screen and (min-width: 320px) and (max-width: 639px) {
  .inner-block {
    position: relative;
    padding-left: 0.1rem;
    padding-right: 0.1rem; } }

@media screen and (min-width: 640px) {
  .inner-block {
    position: relative;
    padding: 0 0.15rem; } }

.list-share {
  font-size: 0; }
  .list-share .item-share {
    display: block;
    margin-top: 10px;
    margin-top: 0.1rem;
    padding-left: 20px;
    padding-left: 0.2rem;
    text-align: left; }

.mdi.mdi-facebook-box {
  color: #3b5998; }

.mdi.mdi-twitter-box {
  color: #1da1f2; }

.mdi.mdi-tumblr {
  color: #35465c; }

.mdi.mdi-wikipedia {
  color: #000000; }

@media screen and (min-width: 320px) and (max-width: 639px) {
  .btc-blockquote {
    font-size: 0.15rem; } }

@media screen and (min-width: 640px) {
  .btc-blockquote {
    font-size: 0.15rem; } }

@media screen and (min-width: 320px) and (max-width: 639px) {
  .mdl-card__supporting-text {
    font-size: 0.15rem; } }

@media screen and (min-width: 640px) {
  .mdl-card__supporting-text {
    font-size: 0.15rem; } }

@media screen and (min-width: 320px) and (max-width: 639px) {
  .wrapper {
    overflow: hidden; } }

@media screen and (min-width: 640px) {
  .wrapper {
    width: 100%;
    min-width: 6.4rem;
    overflow: hidden; } }

body[data-path="/"] .e-mail {
  text-align: right; }
  body[data-path="/"] .e-mail .material-icons {
    vertical-align: middle; }
  body[data-path="/"] .e-mail .delete-me {
    display: inline-block;
    position: absolute;
    width: 1px;
    height: 1px;
    left: -9999px;
    top: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }

body[data-path="/"] .sec-link ul {
  padding-left: 20px;
  padding-left: 0.2rem; }

body[data-path="/"] .sec-link li {
  list-style: none; }

body[data-path="/"] .sec-link .mdi, body[data-path="/"] .sec-link .material-icons {
  vertical-align: middle;
  font-size: 18px;
  font-size: 0.18rem; }

body[data-path="documents/analytic-signal/"] .list-as {
  margin: 0;
  padding: 0; }
  body[data-path="documents/analytic-signal/"] .list-as .item-as {
    list-style: none; }
    body[data-path="documents/analytic-signal/"] .list-as .item-as .btc-analytic-signal-viewer {
      position: relative;
      width: 256px;
      width: 2.56rem;
      height: 256px;
      height: 2.56rem;
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      cursor: pointer; }
      body[data-path="documents/analytic-signal/"] .list-as .item-as .btc-analytic-signal-viewer .elm-canvas {
        display: none; }
      body[data-path="documents/analytic-signal/"] .list-as .item-as .btc-analytic-signal-viewer .cover {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3); }
      body[data-path="documents/analytic-signal/"] .list-as .item-as .btc-analytic-signal-viewer .btn-play {
        position: absolute;
        width: 100px;
        width: 1rem;
        height: 100px;
        height: 1rem;
        left: 50%;
        top: 50%;
        font-size: 100px;
        font-size: 1rem;
        text-align: center;
        line-height: 100px;
        line-height: 1rem;
        margin-left: -50px;
        margin-left: -0.5rem;
        margin-top: -50px;
        margin-top: -0.5rem;
        color: #c00; }
      body[data-path="documents/analytic-signal/"] .list-as .item-as .btc-analytic-signal-viewer:hover .btn-play {
        color: #f33; }
      body[data-path="documents/analytic-signal/"] .list-as .item-as .btc-analytic-signal-viewer.is-play {
        background: none !important;
        cursor: default; }
        body[data-path="documents/analytic-signal/"] .list-as .item-as .btc-analytic-signal-viewer.is-play .elm-canvas {
          display: block; }
        body[data-path="documents/analytic-signal/"] .list-as .item-as .btc-analytic-signal-viewer.is-play .cover {
          display: none; }
        body[data-path="documents/analytic-signal/"] .list-as .item-as .btc-analytic-signal-viewer.is-play .btn-play {
          display: none; }

body[data-path="documents/butchi-number/"] .paragraph {
  margin: 0 0 16px;
  margin: 0 0 0.16rem; }

body[data-path="documents/butchi-number/"] .butchi-number {
  margin-top: 1em;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  display: inline-table;
  vertical-align: bottom; }
  body[data-path="documents/butchi-number/"] .butchi-number td {
    text-align: right;
    padding: 5px;
    padding: 0.05rem;
    line-height: 1;
    width: 1em;
    height: 1em; }

@media screen and (min-width: 320px) and (max-width: 639px) {
  body[data-path="documents/fractal/"] p img {
    width: 100%;
    height: auto; } }

body[data-path="org/kep/as-graph/"] .card {
  width: 610px;
  width: 6.1rem;
  margin-top: 30px;
  margin-top: 0.3rem; }
  body[data-path="org/kep/as-graph/"] .card .mdl-card__title {
    margin-top: 0; }
  body[data-path="org/kep/as-graph/"] .card .mdl-card__media {
    width: 610px;
    width: 6.1rem;
    height: 377px;
    height: 3.77rem; }

body[data-path="person/people/"] .card {
  margin-top: 30px;
  margin-top: 0.3rem;
  width: 256px;
  width: 2.56rem; }
  body[data-path="person/people/"] .card .face {
    width: 256px;
    width: 2.56rem;
    height: 256px;
    height: 2.56rem;
    background-position: center center;
    background-size: cover; }
  body[data-path="person/people/"] .card .mdl-card__title {
    padding: 0; }
  body[data-path="person/people/"] .card .mdl-card__title-text {
    padding: 8px;
    padding: 0.08rem; }
  body[data-path="person/people/"] .card .mdl-card__title-text {
    background-color: rgba(255, 255, 255, 0.5); }
  body[data-path="person/people/"] .card .relation {
    padding-top: 16px;
    padding-top: 0.16rem;
    font-weight: bold; }
    body[data-path="person/people/"] .card .relation + .description {
      padding-top: 0px;
      padding-top: 0rem; }
  body[data-path="person/people/"] .card .item-link {
    padding: 0;
    min-width: 36px;
    min-width: 0.36rem;
    min-height: 36px;
    min-height: 0.36rem;
    font-size: 24px;
    font-size: 0.24rem; }

@media screen and (min-width: 320px) and (max-width: 639px) {
  body[data-path="person/profile/"] .sec-history .item-history {
    font-size: 0.15rem; } }

@media screen and (min-width: 640px) {
  body[data-path="person/profile/"] .sec-history .item-history {
    font-size: 0.15rem; } }

body[data-path="person/profile/"] .sec-history .item-history .btc-heading {
  margin: 0;
  font-size: inherit;
  margin-right: 0.5em; }

body[data-path="person/profile/"] .sec-history .heading {
  display: inline-block; }

body[data-path="person/profile/"] .sec-interest .interest-category {
  display: block; }
  body[data-path="person/profile/"] .sec-interest .interest-category .btc-heading {
    display: inline-block;
    margin: 0; }
  body[data-path="person/profile/"] .sec-interest .interest-category .keyword {
    display: inline-block;
    margin: 0; }

body[data-path="works/tag/"] .list {
  display: block;
  list-style: none; }

body[data-path="works/tag/"] .item {
  display: inline-block;
  margin-left: 10px;
  margin-left: 0.1rem;
  margin-top: 15px;
  margin-top: 0.15rem; }

body[data-path="works/tag/"] .card {
  width: 256px;
  width: 2.56rem;
  height: 256px;
  height: 2.56rem;
  background-repeat: no-repeat;
  background-size: cover; }

body[data-path="works/tag/"] .mdl-card__actions {
  height: 52px;
  height: 0.52rem;
  padding: 16px;
  padding: 0.16rem;
  background: rgba(255, 255, 255, 0.5); }

body[data-path="works/tag/"] .title {
  color: #000000;
  font-size: 14px;
  font-size: 0.14rem;
  font-weight: 500; }
