@charset "UTF-8";
.btc-page-title {
  position: relative;
  width: 100%;
  margin-left: 0px;
  margin-left: 0rem;
  padding: 5px 15px;
  padding: 0.05rem 0.15rem;
  background-color: #3f51b5;
  color: #ffffff; }
  .btc-page-title.is-uppercase, body[data-path="/"] .btc-page-title.btc-heading[data-heading-level="3"] {
    text-transform: uppercase; }

.btc-site-title {
  position: relative;
  padding-left: 10px;
  padding-left: 0.1rem; }

.btc-heading {
  padding-left: 10px;
  padding-left: 0.1rem; }
  .btc-heading[data-heading-level="1"] {
    font-size: 30px;
    font-size: 0.3rem; }
  .btc-heading[data-heading-level="2"] {
    font-size: 30px;
    font-size: 0.3rem; }
  .btc-heading[data-heading-level="3"] {
    font-size: 26px;
    font-size: 0.26rem; }
  .btc-heading[data-heading-level="4"] {
    font-size: 24px;
    font-size: 0.24rem; }
  .btc-heading[data-heading-level="5"] {
    font-size: 22px;
    font-size: 0.22rem; }
  .btc-heading[data-heading-level="6"] {
    font-size: 20px;
    font-size: 0.2rem; }
  .btc-heading[data-heading-level="7"] {
    font-size: 19px;
    font-size: 0.19rem; }
  .btc-heading[data-heading-level="8"] {
    font-size: 18px;
    font-size: 0.18rem; }
  .btc-heading[data-heading-level="9"] {
    font-size: 17px;
    font-size: 0.17rem; }
  .btc-heading[data-heading-level="10"] {
    font-size: 16px;
    font-size: 0.16rem; }

.display-none {
  display: none; }

html.is-pc .pc-none {
  display: none; }

html.is-sp .sp-none {
  display: none; }

html {
  font-size: 100px; }
  html.is-sp html {
    font-size: 15px;
    font-size: 0.15rem; }
  html.is-pc html {
    font-size: 15px;
    font-size: 0.15rem; }
  html.is-tab html {
    font-size: 15px;
    font-size: 0.15rem; }

body {
  font-family: YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, "メイリオ", sans-serif; }
  html.is-sp body {
    font-size: 15px;
    font-size: 0.15rem;
    line-height: 1.618; }
  html.is-pc body {
    font-size: 15px;
    font-size: 0.15rem;
    line-height: 1.618; }

main {
  display: block; }

* {
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: underline; }
  a.hover, a:hover {
    text-decoration: none; }

html.is-sp .inner-block {
  position: relative;
  padding-left: 10px;
  padding-left: 0.1rem;
  padding-right: 10px;
  padding-right: 0.1rem; }

html.is-pc .inner-block {
  position: relative;
  padding: 0 15px;
  padding: 0 0.15rem; }

.list-share {
  font-size: 0; }
  .list-share .item-share {
    display: block;
    margin-top: 10px;
    margin-top: 0.1rem;
    padding-left: 20px;
    padding-left: 0.2rem;
    text-align: left; }

.mdi.mdi-facebook-box {
  color: #3b5998; }

.mdi.mdi-twitter-box {
  color: #1da1f2; }

.mdi.mdi-tumblr {
  color: #35465c; }

.mdi.mdi-wikipedia {
  color: #000000; }

html.is-sp .mdl-card__supporting-text {
  font-size: 15px;
  font-size: 0.15rem; }

html.is-pc .mdl-card__supporting-text {
  font-size: 15px;
  font-size: 0.15rem; }

html.is-sp .wrapper {
  overflow: hidden; }

html.is-pc .wrapper {
  width: 100%;
  min-width: 640px;
  min-width: 6.4rem;
  overflow: hidden; }

body[data-path="/"] .e-mail {
  text-align: right; }
  body[data-path="/"] .e-mail .material-icons {
    vertical-align: middle; }
  body[data-path="/"] .e-mail .delete-me {
    display: inline-block;
    position: absolute;
    width: 1px;
    height: 1px;
    left: -9999px;
    top: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }

body[data-path="/"] .sec-link ul {
  padding-left: 20px;
  padding-left: 0.2rem; }

body[data-path="/"] .sec-link li {
  list-style: none; }

body[data-path="/"] .sec-link .mdi, body[data-path="/"] .sec-link .material-icons {
  vertical-align: middle;
  font-size: 18px;
  font-size: 0.18rem; }

body[data-path="documents/analytic-signal/"] .list-as {
  margin: 0;
  padding: 0; }
  body[data-path="documents/analytic-signal/"] .list-as .item-as {
    list-style: none; }
    body[data-path="documents/analytic-signal/"] .list-as .item-as .btc-analytic-signal-viewer {
      position: relative;
      width: 256px;
      width: 2.56rem;
      height: 256px;
      height: 2.56rem;
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      cursor: pointer; }
      body[data-path="documents/analytic-signal/"] .list-as .item-as .btc-analytic-signal-viewer .elm-canvas {
        display: none; }
      body[data-path="documents/analytic-signal/"] .list-as .item-as .btc-analytic-signal-viewer .cover {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3); }
      body[data-path="documents/analytic-signal/"] .list-as .item-as .btc-analytic-signal-viewer .btn-play {
        position: absolute;
        width: 100px;
        width: 1rem;
        height: 100px;
        height: 1rem;
        left: 50%;
        top: 50%;
        font-size: 100px;
        font-size: 1rem;
        text-align: center;
        line-height: 100px;
        line-height: 1rem;
        margin-left: -50px;
        margin-left: -0.5rem;
        margin-top: -50px;
        margin-top: -0.5rem;
        color: #c00; }
      body[data-path="documents/analytic-signal/"] .list-as .item-as .btc-analytic-signal-viewer:hover .btn-play {
        color: #f33; }
      body[data-path="documents/analytic-signal/"] .list-as .item-as .btc-analytic-signal-viewer.is-play {
        background: none !important;
        cursor: default; }
        body[data-path="documents/analytic-signal/"] .list-as .item-as .btc-analytic-signal-viewer.is-play .elm-canvas {
          display: block; }
        body[data-path="documents/analytic-signal/"] .list-as .item-as .btc-analytic-signal-viewer.is-play .cover {
          display: none; }
        body[data-path="documents/analytic-signal/"] .list-as .item-as .btc-analytic-signal-viewer.is-play .btn-play {
          display: none; }

body[data-path="org/kep/as-graph/"] .card {
  width: 610px;
  width: 6.1rem;
  margin-top: 30px;
  margin-top: 0.3rem; }
  body[data-path="org/kep/as-graph/"] .card .mdl-card__title {
    margin-top: 0; }
  body[data-path="org/kep/as-graph/"] .card .mdl-card__media {
    width: 610px;
    width: 6.1rem;
    height: 377px;
    height: 3.77rem; }

html.is-sp body[data-path="org/ku/tte/"] .description blockquote {
  font-size: 15px;
  font-size: 0.15rem; }

html.is-pc body[data-path="org/ku/tte/"] .description blockquote {
  font-size: 15px;
  font-size: 0.15rem; }

body[data-path="org/ku/b-thesis/presentation/"] .mdl-layout__content {
  width: 100%;
  height: 100%;
  margin-top: 30px;
  margin-top: 0.3rem; }

body[data-path="person/people/"] .card {
  margin-top: 30px;
  margin-top: 0.3rem;
  width: 256px;
  width: 2.56rem; }
  body[data-path="person/people/"] .card .face {
    width: 256px;
    width: 2.56rem;
    height: 256px;
    height: 2.56rem;
    background-position: center center;
    background-size: cover; }
  body[data-path="person/people/"] .card .mdl-card__title {
    padding: 0; }
  body[data-path="person/people/"] .card .mdl-card__title-text {
    padding: 8px;
    padding: 0.08rem; }
  body[data-path="person/people/"] .card .mdl-card__title-text {
    background-color: rgba(255, 255, 255, 0.5); }
  body[data-path="person/people/"] .card .relation {
    padding-top: 16px;
    padding-top: 0.16rem;
    font-weight: bold; }
    body[data-path="person/people/"] .card .relation + .description {
      padding-top: 0px;
      padding-top: 0rem; }
  body[data-path="person/people/"] .card .item-link {
    padding: 0;
    min-width: 36px;
    min-width: 0.36rem;
    min-height: 36px;
    min-height: 0.36rem;
    font-size: 24px;
    font-size: 0.24rem; }

html.is-sp body[data-path="person/profile/"] .sec-history .item-history {
  font-size: 15px;
  font-size: 0.15rem; }

html.is-pc body[data-path="person/profile/"] .sec-history .item-history {
  font-size: 15px;
  font-size: 0.15rem; }

body[data-path="person/profile/"] .sec-history .item-history .btc-heading {
  margin: 0;
  font-size: inherit;
  margin-right: 0.5em; }

body[data-path="person/profile/"] .sec-history .heading {
  display: inline-block; }

body[data-path="person/profile/"] .sec-interest .interest-category {
  display: block; }
  body[data-path="person/profile/"] .sec-interest .interest-category .btc-heading {
    display: inline-block;
    margin: 0; }
  body[data-path="person/profile/"] .sec-interest .interest-category .keyword {
    display: inline-block;
    margin: 0; }

body[data-path="works/tag/"] .list {
  display: block;
  list-style: none; }

body[data-path="works/tag/"] .item {
  display: inline-block;
  margin-left: 10px;
  margin-left: 0.1rem;
  margin-top: 15px;
  margin-top: 0.15rem; }

body[data-path="works/tag/"] .card {
  width: 256px;
  width: 2.56rem;
  height: 256px;
  height: 2.56rem;
  background-repeat: no-repeat;
  background-size: cover; }

body[data-path="works/tag/"] .mdl-card__actions {
  height: 52px;
  height: 0.52rem;
  padding: 16px;
  padding: 0.16rem;
  background: rgba(255, 255, 255, 0.5); }

body[data-path="works/tag/"] .title {
  color: #000000;
  font-size: 14px;
  font-size: 0.14rem;
  font-weight: 500; }
