@charset "UTF-8";
html.is-sp .mdl-card__supporting-text {
  font-size: 15px;
  font-size: 0.15rem; }

html.is-pc .mdl-card__supporting-text {
  font-size: 15px;
  font-size: 0.15rem; }

.display-none {
  display: none; }

html.is-pc .pc-none {
  display: none; }

html.is-sp .sp-none {
  display: none; }

html {
  font-size: 100px; }
  html.is-sp html {
    font-size: 15px;
    font-size: 0.15rem; }
  html.is-pc html {
    font-size: 15px;
    font-size: 0.15rem; }
  html.is-tab html {
    font-size: 15px;
    font-size: 0.15rem; }

body {
  font-family: YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, "メイリオ", sans-serif; }
  html.is-sp body {
    font-size: 15px;
    font-size: 0.15rem;
    line-height: 1.618; }
  html.is-pc body {
    font-size: 15px;
    font-size: 0.15rem;
    line-height: 1.618; }

main {
  display: block; }

* {
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: underline; }
  a.hover, a:hover {
    text-decoration: none; }

html.is-sp .inner-block {
  position: relative;
  padding-left: 10px;
  padding-left: 0.1rem;
  padding-right: 10px;
  padding-right: 0.1rem; }

html.is-pc .inner-block {
  position: relative;
  padding: 0 15px;
  padding: 0 0.15rem; }

.list-share {
  font-size: 0; }
  .list-share .item-share {
    display: block;
    margin-top: 10px;
    margin-top: 0.1rem;
    padding-left: 20px;
    padding-left: 0.2rem;
    text-align: left; }

.mdi.mdi-facebook-box {
  color: #3b5998; }

.mdi.mdi-twitter-box {
  color: #1da1f2; }

.mdi.mdi-tumblr {
  color: #35465c; }

.mdi.mdi-wikipedia {
  color: #000000; }

html.is-sp .wrapper {
  overflow: hidden; }

html.is-pc .wrapper {
  width: 100%;
  min-width: 640px;
  min-width: 6.4rem;
  overflow: hidden; }

.btc-heading[data-heading-level="2"] {
  position: relative;
  padding-left: 10px;
  padding-left: 0.1rem; }

.btc-heading[data-heading-level="3"] {
  position: relative;
  width: 100%;
  margin-left: 0px;
  margin-left: 0rem;
  padding: 5px 15px;
  padding: 0.05rem 0.15rem;
  background-color: #3f51b5;
  color: #ffffff; }
  .btc-heading[data-heading-level="3"].is-uppercase, body.page---root .btc-heading[data-heading-level="3"] {
    text-transform: uppercase; }

body.page---root .e-mail {
  text-align: right; }
  body.page---root .e-mail .material-icons {
    vertical-align: middle; }
  body.page---root .e-mail .delete-me {
    display: inline-block;
    position: absolute;
    width: 1px;
    height: 1px;
    left: -9999px;
    top: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }

body.page---root .sec-link ul {
  padding-left: 20px;
  padding-left: 0.2rem; }

body.page---root .sec-link li {
  list-style: none; }

body.page---root .sec-link .mdi, body.page---root .sec-link .material-icons {
  vertical-align: middle;
  font-size: 18px;
  font-size: 0.18rem; }

html.is-sp body.page---person--profile .sec-history .item-history {
  font-size: 15px;
  font-size: 0.15rem; }

html.is-pc body.page---person--profile .sec-history .item-history {
  font-size: 15px;
  font-size: 0.15rem; }

body.page---person--profile .sec-history .item-history .heading {
  margin: 0;
  font-size: inherit;
  margin-right: 0.5em; }

body.page---person--profile .sec-history .heading {
  display: inline-block; }

body.page---person--profile .sec-interest .interest-category {
  display: block; }
  body.page---person--profile .sec-interest .interest-category .heading {
    display: inline-block;
    margin: 0; }
  body.page---person--profile .sec-interest .interest-category .keyword {
    display: inline-block;
    margin: 0; }

body.page---person--people .card {
  margin-top: 30px;
  margin-top: 0.3rem;
  width: 256px;
  width: 2.56rem; }
  body.page---person--people .card .face {
    width: 256px;
    width: 2.56rem;
    height: 256px;
    height: 2.56rem;
    background-position: center center;
    background-size: cover; }
  body.page---person--people .card .mdl-card__title {
    padding: 0; }
  body.page---person--people .card .mdl-card__title-text {
    padding: 8px;
    padding: 0.08rem; }
  body.page---person--people .card .mdl-card__title-text {
    background-color: rgba(255, 255, 255, 0.5); }
  body.page---person--people .card .relation {
    padding-top: 16px;
    padding-top: 0.16rem;
    font-weight: bold; }
    body.page---person--people .card .relation + .description {
      padding-top: 0px;
      padding-top: 0rem; }
  body.page---person--people .card .item-link {
    padding: 0;
    min-width: 36px;
    min-width: 0.36rem;
    min-height: 36px;
    min-height: 0.36rem;
    font-size: 24px;
    font-size: 0.24rem; }

html.is-sp body.page---org--ku--tte .description blockquote {
  font-size: 15px;
  font-size: 0.15rem; }

html.is-pc body.page---org--ku--tte .description blockquote {
  font-size: 15px;
  font-size: 0.15rem; }

body.page-org--ku--b-thesis--presentation .mdl-layout__content {
  width: 100%;
  height: 100%;
  margin-top: 30px;
  margin-top: 0.3rem; }

body.page---org--kep--as-graph .card {
  width: 610px;
  width: 6.1rem;
  margin-top: 30px;
  margin-top: 0.3rem; }
  body.page---org--kep--as-graph .card .mdl-card__title {
    margin-top: 0; }
  body.page---org--kep--as-graph .card .mdl-card__media {
    width: 610px;
    width: 6.1rem;
    height: 377px;
    height: 3.77rem; }
