extends /_layout/_default-layout

append config-block
  - title = '第105回 音楽情報科学研究会'

block content-block
  +page-title

  .inner-block
    section
      a#address
      +heading(4)
        | 所在
      p
        | 旧: 
        | http://butchi.jp/documents/mus105/
      p
        | 新: 
        a(href="http://butchi.jp/publication/sigmus105/") http://butchi.jp/publication/sigmus105/

    section
      +heading(4)
        | 研究会情報
      p
        a(href="http://www.sigmus.jp/?page_id=2843") 第105回情報処理学会音楽情報科学研究会(デジタルコンテンツクリエーション研究会と共催)の 参加案内

    section
      a#title
      +heading(4)
        | 発表題目
      p カーペットフラクタルの可聴化と音楽生成
      p(lang="en") Musical Sonification of Carpet Fractals

      section#abstract
        +heading(5)
          | 概要
        p
          | フラクタル図形の一種としてカーペットフラクタルを定義する． カーペットフラクタルをラスタースキャン方式によって可聴化することにより，音楽的な音声を生成することができた． 本手法はいくつかの2値パラメーターだけで曲を生成できるため，容易に導入できる他，直接入力以外の方法と組み合わせることも可能である．

        p(lang="en")
          | We define “Carpet Fractals” a kind of fractals. We discovered to be able to generate musical sounds by raster scanning from Carpet Fractals. This method enable to generate various music easily by binary parameters, not only direct input.

    section
      +heading(4)
        | 論文
      ul
        li
          a(href="https://butchi.github.io/sigmus105/report/") 「カーペットフラクタルの可聴化と音楽生成」（HTML）【推奨】
        li
          a(href= `${dataPath}musical-sonification-of-carpet-fractals.pdf`)
            | 「カーペットフラクタルの可聴化と音楽生成」（PDF）
      p
        small
          | ※本著作物の著作権は（社）情報処理学会に帰属します。本著作物は著作権者である情報処理学会の許可のもとに掲載するものです。ご利用に当たっては「著作権法」ならびに「
          a(href="http://www.ipsj.or.jp/ipsjcode.html", target="_blank") 情報処理学会倫理綱領
          | 」に従うことをお願いいたします。

    section
      +heading(4)
        | プレゼン資料
      ul
        li
          a(href="https://butchi.github.io/sigmus105/presentation/") 「カーペットフラクタルの可聴化と音楽生成」

    section
      a#page
      +heading(4)
        | 関連ページ
      ul
        li
          a(href="/documents/fractal/") フラクタル
