mixin bib(key)
  if bib[key]
    - bibitem = bib[key]
    - const { author, title, journal, volume, number, pages, date, url, site } = bibitem

    span.btc-bib
      if author
        if author instanceof Array
          != author.join(', ')
        else
          = author

      | . 
      != title
      | . 
      != journal
      | . 

      if volume
        | Vol.#{volume}, 

      if number
        | No.#{number}, 

      if pages
        if pages instanceof Array
          | pp. 
          = pages.join('--')
        else
          | p. 
          = pages
        | , 

      time.date
        = date
      | .

      if url
        a(href= url, target="_blank")
          = url

      if site
        |  
        a(href=`${rootPath}${site}`)
          | [詳細ページ]
