mixin person-relation
  -
    relationArr = [
      {
        title: '生い立ち',
        href: `${rootPath}person/profile/`,
      },
      {
        title: '者是',
        href: `${rootPath}person/creed/`,
      },
      {
        title: '関連人物',
        href: `${rootPath}person/people/`,
      },
    ]
