extends /_layout/_default-layout

append config-block
  - title = '非周期的な画素配置を持つCMOSイメージセンサの基礎検討'

prepend javascript-block
  script(src=`${rootPath}js/lib/swfobject.js`)

append javascript-block
  script
    | var el = document.querySelector(".swf-object");
    | swfobject.embedSWF("#{dataPath}/icd200707presentation.swf", el, 640, 480, 10);

block content-block
  +page-title

  .inner-block
    .swf-object
