extends /_layout/_default-layout

append config-block
  - title = '非周期的な画素配置を持つCMOSイメージセンサの基礎検討'

block content-block
  +page-title

  .inner-block
    section
      +heading(4)
        | 論文情報

      +heading(5)
        | 著者

      ul
        li
          | 岩淵 勇樹
        li
          | 秋田 純一

      +heading(5)
        | Abstract

      p
        | 撮像素子やディスプレイなどの画像システムを構成する画素は、通常は正方などの格子状に配置される。
        | しかしこのような画像システムの映像は、最終的に鑑賞されるわれわれの目には、ギザを伴って映る。
        | この問題の解決のために、従来は高解像度化やスムージングなどの手法がとられてきたが、特に傾きの小さい斜め線のギザは、複数の画素から構成されるためにわれわれの目には知覚されやすく、映像の高精細化を阻む要因となる。
        | 本稿では、画素の配置を周期的でない、ビット逆転に基づいた配置とすることでこの問題を解決する方法を提案し、ギザの特性について従来の正方格子状の配置と比較する。
        | なお、従来の格子状の画像データは、垂直・水平方向の伸縮を施した場合、サンプリング点に縞状の疎密ができるが、本方式では垂直・水平方向の伸縮において疎密の変化が小さいという特長もある。 

      p(lang="en")
        | The pixels in image sensors and displays are placed at lattice positions.
        | The images handled by these devices are finally `seen' by our eyes, which perceive the jaggy at the edge. 
        | Conventional approaches for this problem, such as increasing resolution and smoothing, cannot completely solve this problem, which is a critical factor for more clear images, since the jaggies are composed of a pair of certain pixels.
        | In this paper, we propose an idea for this problem using the nonperiodic pixel placement which based on bit reversal, and compare the characteristic of jaggy with traditional square lattice pixel placement.
        | This new pixel placement can also eliminate striped nonuniform distribution which occurs with stretch vertically or holizontally.

      p
        a(href="http://www.ieice.org/ken/paper/200707276Awc/", target="_blank") 講演論文 詳細

      p
        a(href="http://ci.nii.ac.jp/naid/110006380829/", target="_blank") CiNii 論文 -  非周期的な画素配置を持つCMOSイメージセンサの基礎検討(アナログ・デジアナ・センサ,通信用LSI)

      p
        a(href="presentation/")
          | 発表資料（PC限定）
        |  
        a.mdl-button.mdl-button--raised(href=`${dataPath}presentation/icd200707presentation.swf`)
          | ダウンロード(SWF)
