/*コメントアウトはこんな感じで。*/

body	{color:#000066; background:#E0F0FF;}
div.example	{padding:10px; background:#CCCCCC;}
hr	{height:4px;}

div#copyright	{font-size:80%; text-align:center; color:#999999;}
