extends /_layout/_blank-page

block head
  title
    | Moving Voice vol. 5
  style.
    body {
      margin: 0;
      background: black;
    }

append javascript-block
  script(src=`${rootPath}js/lib/swfobject.js`)
  script
    | var el = document.querySelector(".swf-object");
    | swfobject.embedSWF("#{dataPath}opening.swf", el, 800, 600, 10);

block content-body
  .wrapper
    .swf-object
