extends /_layout/_default-layout

append config-block
  - title = 'CloSynth (With Scanned Synthesis)'

prepend javascript-block
  script(src=`${rootPath}js/lib/swfobject.js`)

append javascript-block
  script
    | var el = document.querySelector(".swf-object");
    | swfobject.embedSWF("#{dataPath}analytic_signal_synthesizer11.swf", el, 640, 480, 10);

block content-block
  h3.btc-heading(data-heading-level="3")
    = title

  .inner-block
    h4 概要

    p
      a(href="http://butchi.jp/documents/mus85demo/") 第85回音楽情報科学研究会のデモ用に制作したプログラム
      | にScanned Synthesisの方式を取り入れたデモです。

    p
      | プログラム実行には
      a(href="http://get.adobe.com/jp/flashplayer/", target="_blank") Adobe Flash Player
      | が必要です。

    p 開発環境：Adobe Flash CS4 / ActionScript 3.0

    h4 デモプログラム

    .swf-object

    p
      a(href= `${dataPath}analytic_signal_synthesizer11.swf`) swfファイル

    h4 操作説明
    ul
      li 円形は灰色の点（制御点）が集まって構成されています。制御点をドラッグすると音が変化します。（点が外れすぎると音割れが生じるので注意してください。）
      li 左上のOscillatorのプルダウンメニューから音色を選択することができます。
      li 右側の青い線が実際生成される音の時間波形（2周期分）です。左側の図形の縦座標と一致します。
      li CtrlModeのプルダウンメニューを選択するか、ドラッグ中にマウスのホイールを操作すると、ctrlModeが変わってドラッグ時の影響が変化します。
      li 右上のAmplifierの黒い点（あるいは太い棒）をドラッグするとADSRエンベロープを制御できます。
      li キー入力はマウスで鍵盤を押すか、キーボード入力をすると可能です。キーボード入力をする際は一度プログラム画面をクリックしてください。
      li
        | 制御点周辺にある矩形の青い領域が
        b 地表面
        | です。地表面をマウスでなぞると黒くなります。黒くなった部分の上に制御点が乗っているとパルス（右側の青い線で盛り上がっている部分）が立ち上がります。
      li 地表面を元に戻す機能がないので、やり直す場合はリロードしてください。

    h4 特徴
    ul
      li
        a(href="http://www.vector.co.jp/soft/win95/art/se085448.html", target="_blank") WaveSpectra
        | などのソフトで生波形を見てみてください。「リサジュー」で両チャンネルの波形をプロットすると、VCOで操作している閉曲線図形と同じ形が見えると思います。
      li
        | これは実際に音声のLチャンネルとRチャンネルにそれぞれの軸の波形を割り当てているからなのですが、横軸の波形と縦軸の波形は「ヒルベルト変換」という変換の関係にあるため、片方の波形はもう片方の波形に依存します。（プログラムの右側の青い波形は、今回Lチャンネルに割り当てられています。）
      li
        | また、両波形はパワースペクトルは同じである（位相だけ90度ずれている）ため、波形が全く違うように見えても聞こえる音はほとんど同じです。（そのため、出力としてはLチャンネルだけでよいのですが、便宜上「虚」の波形も出力している次第です。）

    h4 終わりに
    p 「解析信号」を複素平面上で操作するという、波形編集の新たな方法を提案しました。これを応用すれば、今までにない新しい音作りが期待できます。
    p ご意見・ご質問があれば著者にお気軽に連絡ください。

    h4 参考文献
    p
      a(href= `${rootPath}/org/ku/d-thesis/#reference`) 博士論文ページ
      | 参照
