extends /_layout/_works-category

block works-index
  section
    h2
      | 詩・執筆
    .list
      -
        workArr = _.values(works).filter((work) => (
          work.genreWriting
        ))
      each work in workArr
        +work-item(work)
