extends /_layout/_works-category

block works-index
  section
    h2
      | Web
    .list
      -
        workArr = _.values(works).filter((work) => (
          work.genreWeb
        ))
          .filter((work) => (
            !hasTag(work, 'newyear')
          ))
        ;
      each work in workArr
        +work-item(work)

  section
    h2
      | 年賀サイト
    .list
      -
        workArr = _.values(works).filter((work) => (
          work.genreWeb
        ))
          .filter((work) => hasTag(work, 'newyear'))
        ;
      each work in workArr
        +work-item(work)

