// page title
.btc-page-title {
  position: relative;

  width: 100%;

  margin-left: 0rem;

  padding: px(5) px(15);
  background-color: $main-color;

  color: $white;

  &.is-uppercase {
    text-transform: uppercase;
  }
}

.btc-site-title {
  position: relative;

  padding-left: px(10);
}

.btc-section-title {
  position: relative;

  width: 100%;

  margin-left: 0rem;

  padding: px(5) px(15);
  background-color: $main-color;

  color: $white;

  &.is-uppercase {
    text-transform: uppercase;
  }
}

.btc-heading {
  &[data-heading-level="1"] {
    font-size: px(26);
  }

  &[data-heading-level="2"] {
    font-size: px(26);
  }

  // sectioning
  &[data-heading-level="3"] {
    font-size: px(26);
  }

  // sub section
  &[data-heading-level="4"] {
    font-size: px(24);

    section > & {
      border-left: 10px solid $main-color;
      padding-left: 10px;
    }
  }

  &[data-heading-level="5"] {
    font-size: px(22);

    section > & {
      font-weight: bold;
    }
  }

  &[data-heading-level="6"] {
    font-size: px(20);
  }

  &[data-heading-level="7"] {
    font-size: px(19);
  }

  &[data-heading-level="8"] {
    font-size: px(18);
  }

  &[data-heading-level="9"] {
    font-size: px(17);
  }

  &[data-heading-level="10"] {
    font-size: px(16);
  }
}
