extends ../../layout

block append vars
  - title = '詩'

block main
  main(class='page-works-poem')
    h1 詩

    article
      h1 Butchi経

      p 平成二十年師走十二日卯の刻(西暦2008年12月12日6時8分)
      p 有
      p 良？
      p 無。
      p 而是良。
      p 死？
      p 生。
      p 有時而死。
      p 時実而甚。
      p 側時有良。
      p 傍者勇者。
      p 笑。
      p ||
      p 一
      p 〇
      p 。
      p .

      section
        h1 意訳

        p この世は「有」の世界である。
        p それは良いのか？
        p その答えは無い。
        p しかし、良いと定義する。
        p 死ぬの？
        p 生きる。
        p 時間があるから死ぬのである。
        p しかし、時間というのは細分すれば無限に有る。
        p そして、時間が有るからこそ良いのである。
        p あなたの傍らには勇者がいる。
        p 笑えばいいと思うよ。
        p \=10。.（2進数における10、つまり2と同等になる。）

    article
      h1 心

      p 私はあなたの心です。私はあなたの気持ちをもちろんすべて知っています。あなたは私の気持ちをどれだけ知っていますか？

    article
      h1 無

      p 私は無という存在です。私があなたに伝えることは何も無く、むろん存在でもない。私はそのようなことを語りかけることは無く、無い。

    article
      h1 今が「あの日々」となるように

      p 何かにつけてはタスクをこなす日々
      p 食っちゃ寝 学んじゃ寝 働いちゃ寝 恋しちゃ寝
      p もっとハート揺れ動かさなくちゃね
      p 遠い未来、自分が輝くためにやらなきゃいけないこと
      p それはいま輝くこと

    article
      h1 勇气凛凛

      p 勇气凛凛　　簗瀬巍
      br
      p 勇气之鈴鳴凛凛　奇怪之冒険流流
      p 餡食伽哩之面包　果醤牛乾酪弾弾
      p 黴菌男目玉爛爛　餡面包男何不行
      p 驚悸女使人悸悸　果子醤翁顔優雅
      p 牛酪子奔走騒騒　誰忌餡面包男乎

      section
        h3 書き下し
        p 勇気の鈴 凛凛(りんりん)
        p 奇怪なる冒険 流流(るんるん)
        p 餡・食・伽哩(かりー)の麺麭
        p 果醤(じゃむ)、牛・乾酪 弾弾
        p 黴菌(ばいきん)男の目玉 爛爛(らんらん)
        p 餡麺麭男(あんぱんまん) 何ぞ行かざる
        p 驚悸女 人をして悸悸(どきどき)せしむ
        p 果子醤翁の顔 優雅なり
        p 牛酪子 奔走すること騒騒(ばたばた)
        p 誰ぞ餡麺麭男を忌むか

      section
        h1 現代語訳
        p 勇気の鈴がリンリンと鳴り、
        p 不思議な冒険はルンルンと続く。
        p アンパン、食パン､カレーパン、
        p ジャム、バター、チーズと食材は続々と出る。
        p バイキンマンの目玉はらんらんと光る。
        p アンパンマンが行かない事があろうか､いやない。
        p ドキンちゃんは人をドキドキさせ、
        p バタコさんはバタバタと走る。
        p アンパンマンを嫌うものがいるだろうか､いやいない。

      section
        h1 出典
        ul
          li
            a(href='http://www.utamap.com/showkasi.php?surl=E02028', target='_blank') 勇気りんりん

    article
      h1 餡麺麭男行進曲

      p 餡麺麭男行進曲　　簗瀬巍
      br
      p 為皆不畏、吾友愛勇気耳。
      p 何子幸、何子為悦。不解而終、吾嫌其。不忘夢、不零涙、而子飛無限。
      p 為皆不畏、吾友愛勇気耳。
      p 嗚呼何優餡麺麭男、為守皆夢行。
      br

      section
        h1 出典
        ul
          li
            a(href='http://www.utamap.com/showkasi.php?surl=E02014', target='_blank') アンパンマンのマーチ
