extends /_layout/_works-category

prepend config-block
  - rootPath = '../../'
  - path = `works/web/`

block works-index
  section
    h2
      | Web
    .list
      -
        workArr = Object.values(works.sheet).filter((work) => (
          work.genreWeb
        ))
          .filter((work) => (
            !hasTag(work, 'newyear')
          ))
        ;
      each work in workArr
        +work-item(work)

  section
    h2
      | 年賀サイト
    .list
      -
        workArr = Object.values(works.sheet).filter((work) => (
          work.genreWeb
        ))
          .filter((work) => hasTag(work, 'newyear'))
        ;
      each work in workArr
        +work-item(work)

