extends ../../_layout/_default-layout

block append ConfigBlock
  - pageId = 'person-creed'
  - rootPath = '../../'
  - title = '者是'

block ContentBlock
  section.sec-history
    h3.btc-heading(data-heading-level="3")
      | 者是

    .inner-block
      section.sec-about
        h4.btc-heading(data-heading-level="4")
          | 者是とは
        p
          | 会社の経営方針を表すものとして「社是」というものがありますが、それを私自身にあてはめたものが「者是」です。
          | つまり、私の生きる方針です。
      section.sec-creed
        h4.btc-heading(data-heading-level="4")
          | 者是

        ul.list-creed
          li
            | 謙虚たれ。
          li
            | 「ありがとうございました。」を欠かさない。
            | コンビニでもバスでも、サービスを受けた時。
          //- li
            | 虫であろうとも、蚊やゴキブリであろうとも殺さない。ただし、苦しんで死ぬ運命にあるものは叩き潰す。
          li 
            | 無限遠先の利益を最大化するように努力する。
          li
            | 「生きる」とは、そのものの痕跡を遺し、それを再生する（現実世界に読み込む）ことである。
            | 人の心に残っていれば、そのものは生きている。
            | 文書やコンピューターにでも、自分の分身を埋め込むことができた上で再生できれば、そのものは生きている。
          li
            | 出された食事は必ず全て食べる。それが最優先のマナー。エコでもある。
          li
            | 「立派な人間になりなさい。」祖父が私に遺してくれた言葉。
          li
            | 人を全否定することは絶対にしない。全ての人は自分にとって最善の行動をしているはずだから。
          li
            | よく学ぶ。しかし勉強はしない。努力する。しかし苦労はしない。
          li
            | どんなに小さくても嘘をつかない。ついていいのは馬鹿デカい嘘とエイプリルフールだけ。
          li
            | 鬼にならずに仏になれ。
          li
            | 真面目にふざけろ。
          li
            | 冒険第一、安全第二。
          li
            | 人類揃って皆昇天。
          li
            | 欲しがりません勝つまでは。
