.page-top
  .e-mail
    text-align: right
    .address
    .delete-me
      display: inline-block
      color: #fff
      font-size: 0
      text-indent: -9999px
      overflow: hidden
    .attention
      color: #999
