extends /_layout/_works-category

block works-index
  section
    h2
      | 映像
    .list
      -
        workArr = _.values(works).filter((work) => (
          work.genreMovie
        ))
      each work in workArr
        +work-item(work)
