mixin bib(key)
  if bib[key]
    - bibitem = bib[key]
    - author = bibitem.author
    - title = bibitem.title
    - journal = bibitem.journal
    - volume = bibitem.volume
    - number = bibitem.number
    - pages = bibitem.pages
    - date = bibitem.date
    - url = bibitem.url
    - site = bibitem.site
    span.btc-bib
      if author
        if author instanceof Array
          != author.join(', ')
        else
          = author

      | . 
      != title
      | . 
      != journal
      | . 

      if volume
        | Vol.#{bibitem.volume}, 

      if number
        | No.#{bibitem.number}, 

      if pages
        if pages instanceof Array
          | pp. 
          = pages.join('--')
        else
          | p. 
          = pages
        | , 

      time.date
        = date
      | .

      if url
        a(href= url, target="_blank")
          = url

      if site
        |  
        a(href=`${rootPath}${site}`)
          | [詳細ページ]
