extends /_layout/_default-layout

append config-block
  - title = '第85回音楽情報科学研究会'

block content-block
  +page-title

  .inner-block
    section
      +heading(4)
        | 論文情報

      +heading(5)
        | 著者

      ul
        li
          | 岩淵 勇樹
        li
          | 秋田 純一
        li
          | 北川章夫

      +heading(5)
        | 発表タイトル

      p
        | 閉曲線を利用した音色操作方法の検討と実装

      p
        | A Method of Sound Synthesis Using Closed Curves and Its Implementation

      +heading(5)
        | Abstract

      p
        | 電子楽器を用いることにより，今までにない新たな音色を作ることが可能となり，
        | 音色を生成する方法も数多く考案されている．
        | しかしながら，それらのほとんどは多種多様な音色を作るために多くのパラメータ制御を必要とするため，
        | 直感的な操作が難しく，特性を掴むのに多くの時間を要する．
        | 本稿では，解析信号を複素平面上の閉曲線図形として直接操作することによって周期音声信号を生成する方法を提案する．
        | 解析信号を複素平面上の閉曲線図形として扱うことにより，相似図形同士が同じ音色と対応する．
        | また図形と音を対応付けることにより，直感的な入力が可能になるほか，
        | 視覚表現と融合した音楽パフォーマンスへの応用も考えられる．

      p(lang="en")
        | In this paper, we propose the method of sound synthesis
        | which output audio signal based on given closed curve.
        | First, we derive the condition that similar figures constantly represent the same timbre.
        | And we try to convert curves into analytic signals,
        | that is the simplest representation that satisfy such condition.
        | Through this research, it can be created an intuitive musical interface.

    section
      +heading(4)
        | 発表資料

      p
        i.material-icons picture_as_pdf
        a(href=`${dataPath}mus85paper.pdf`) 論文（PDF）

      p
        a(href="demo/")
          | デモプログラム

    +heading(4)
      | 参考文献

    ol
      li
        +bib('ec--2008--iwabuchi-yuki')
      li
        +bib('wiss--2008--iwabuchi-yuki')
      li
        +bib('interaction--2011--iwabuchi-yuki')
      li
        +bib('art-science--2011--iwabuchi-yuki')
      li
        +bib('d-thesis--iwabuchi-yuki')
