extends /_layout/_default-layout

append config-block
  - title = '学位論文'

block content-block
  +heading(3)
    | 岩淵勇樹 学位論文

  .inner-block
    section.sec-body
      +heading(4)
        | 論文

      ul
        li
          a(href= `${dataPath}b-thesis.pdf`) 論文（PDF）

    section.sec-presentation
      +heading(4)
        | 資料

      ul
        li
          a(href="presentation/")
            | 発表スライド(Flashページ)

    //- FIXME: デモ等のURLを直す
    section.sec-reference
      mixin ipsj
        sup
          a(href="#footnote-ipsj") 注1

      a(name="reference")
      +heading(4)
        | 参考文献
      ol
        li
          +bib('butchi-number--2010-06--iwabuchi-yuki')
          .appendix
            a(href= `${rootPath}documents/uc2010poster.pdf`) [poster (PDF)]
